@page "/"

<h1>NFL Stats</h1>

<div class="alert alert-secondary mt-4" role="alert">
    The data for this sample was downloaded from 
    <a target="_blank" class="font-weight-bold" href="https://www.kaggle.com/maxhorowitz/nflplaybyplay2009to2016">Kaggle</a>.
    It covers the ten-year period from 2009 to 2018.
</div>
